**Exploring Ebay car sales**

In [2]:
import pandas as pd
import numpy as np

In [8]:
from google.colab import files
uploaded = files.upload()

Saving autos.csv to autos.csv

In [13]:
for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(name=fn, length=len(uploaded[fn])))

User uploaded file "autos.csv" with length 68439217 bytes

In [18]:
import io
autos = pd.read_csv(io.StringIO(uploaded['autos.csv'].decode('Latin-1')))

In [21]:
autos.info()
autos.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 371528 entries, 0 to 371527
Data columns (total 20 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   dateCrawled          371528 non-null  object
 1   name                 371528 non-null  object
 2   seller               371528 non-null  object
 3   offerType            371528 non-null  object
 4   price                371528 non-null  int64
 5   abtest               371528 non-null  object
 6   vehicleType          333659 non-null  object
 7   yearOfRegistration   371528 non-null  int64
 8   gearbox              351319 non-null  object
 9   powerPS              371528 non-null  int64
 10  model                351044 non-null  object
 11  kilometer            371528 non-null  int64
 12  monthOfRegistration  371528 non-null  int64
 13  fuelType             338142 non-null  object
 14  brand                371528 non-null  object
 15  notRepairedDamage    299468 non-null  object
 16  dateCreated          371528 non-null  object
 17  nrOfPictures         371528 non-null  int64
 18  postalCode           371528 non-null  int64
 19  lastSeen             371528 non-null  object
dtypes: int64(7), object(13)
memory usage: 56.7+ MB

           dateCrawled  ...             lastSeen
0  2016-03-24 11:52:17  ...  2016-04-07 03:16:57
1  2016-03-24 10:58:45  ...  2016-04-07 01:46:50
2  2016-03-14 12:52:21  ...  2016-04-05 12:47:46
3  2016-03-17 16:54:04  ...  2016-03-17 17:40:17
4  2016-03-31 17:25:20  ...  2016-04-06 10:17:21

[5 rows x 20 columns]

Looking at the data we can observe that most of the sellers are privat and the gearbox type are mostly manual, also noticed NaN, indicating missing data that needs to be cleaned

In [24]:
autos.columns

Index(['dateCrawled', 'name', 'seller', 'offerType', 'price', 'abtest',
       'vehicleType', 'yearOfRegistration', 'gearbox', 'powerPS', 'model',
       'kilometer', 'monthOfRegistration', 'fuelType', 'brand',
       'notRepairedDamage', 'dateCreated', 'nrOfPictures', 'postalCode',
       'lastSeen'],
      dtype='object')

In [25]:
autos.columns = ['date_crawled', 'name', 'seller', 'offer_type', 'price', 'ab_test', # changing the column names
       'vehicle_type', 'registration_year', 'gearbox', 'power_ps', 'model',
       'odometer', 'registration_month', 'fuel_type', 'brand',
       'unrepaired_damage', 'ad_created', 'num_photos', 'postal_code',
       'last_seen']

In [26]:
autos.head()

          date_crawled  ...            last_seen
0  2016-03-24 11:52:17  ...  2016-04-07 03:16:57
1  2016-03-24 10:58:45  ...  2016-04-07 01:46:50
2  2016-03-14 12:52:21  ...  2016-04-05 12:47:46
3  2016-03-17 16:54:04  ...  2016-03-17 17:40:17
4  2016-03-31 17:25:20  ...  2016-04-06 10:17:21

[5 rows x 20 columns]

In [27]:
autos.describe(include='all')  # looking at descriptive statistics for all columns

               date_crawled         name  ...   postal_code            last_seen
count                371528       371528  ...  371528.00000               371528
unique               280500       233531  ...           NaN               182806
top     2016-03-24 14:49:47  Ford_Fiesta  ...           NaN  2016-04-07 06:45:59
freq                      7          657  ...           NaN                   17
mean                    NaN          NaN  ...   50820.66764                  NaN
std                     NaN          NaN  ...   25799.08247                  NaN
min                     NaN          NaN  ...    1067.00000                  NaN
25%                     NaN          NaN  ...   30459.00000                  NaN
50%                     NaN          NaN  ...   49610.00000                  NaN
75%                     NaN          NaN  ...   71546.00000                  NaN
max                     NaN          NaN  ...   99998.00000                  NaN

[11 rows x 20 columns]

In [29]:
autos["num_photos"].value_counts()

0    371528
Name: num_photos, dtype: int64

In [30]:
autos = autos.drop(["num_photos", "seller", "offer_type"], axis=1)

In [35]:
#autos["price"] = (autos["price"]
                  
                         # .str.replace("$","")
                         # .str.replace(",","")
                         # .astype(int)
                         # )
autos["price"].head()

0      480
1    18300
2     9800
3     1500
4     3600
Name: price, dtype: int64

In [39]:
#autos["odometer"] = (autos["odometer"]
                           #  .str.replace("km","")
                           # .str.replace(",","")
                            # .astype(int)
                             #)

In [40]:
autos.rename({"odometer": "odometer_km"}, axis=1, inplace=True)
autos["odometer_km"].head()

0    150000
1    125000
2    125000
3    150000
4     90000
Name: odometer_km, dtype: int64

In [41]:
autos["odometer_km"].value_counts()

150000    240797
125000     38067
100000     15920
90000      12523
80000      11053
70000       9773
60000       8669
50000       7615
5000        7069
40000       6376
30000       6041
20000       5676
10000       1949
Name: odometer_km, dtype: int64

In [43]:
print(autos["price"].unique().shape)
print(autos["price"].describe())
autos["price"].value_counts().head(20)

(5597,)
count    3.715280e+05
mean     1.729514e+04
std      3.587954e+06
min      0.000000e+00
25%      1.150000e+03
50%      2.950000e+03
75%      7.200000e+03
max      2.147484e+09
Name: price, dtype: float64

0       10778
500      5670
1500     5394
1000     4649
1200     4594
2500     4438
600      3819
3500     3792
800      3784
2000     3432
999      3364
750      3203
650      3150
4500     3053
850      2946
2200     2936
700      2936
1800     2886
900      2874
950      2793
Name: price, dtype: int64

In [44]:
autos["price"].value_counts().sort_index(ascending=False).head(20)

2147483647     1
99999999      15
99000000       1
74185296       1
32545461       1
27322222       1
14000500       1
12345678       9
11111111      10
10010011       1
10000000       8
9999999        3
3895000        1
3890000        1
2995000        1
2795000        1
1600000        2
1300000        1
1250000        2
1234566        1
Name: price, dtype: int64

In [45]:
autos["price"].value_counts().sort_index(ascending=True).head(20)

0     10778
1      1189
2        12
3         8
4         1
5        26
7         3
8         9
9         8
10       84
11        5
12        8
13        7
14        5
15       27
16        2
17        5
18        3
19        3
20       51
Name: price, dtype: int64

In [46]:
autos = autos[autos["price"].between(1,351000)]
autos["price"].describe()

count    360635.000000
mean       5898.671956
std        8866.359669
min           1.000000
25%        1250.000000
50%        3000.000000
75%        7490.000000
max      350000.000000
Name: price, dtype: float64

In [47]:
autos[['date_crawled','ad_created','last_seen']][0:5]

          date_crawled           ad_created            last_seen
0  2016-03-24 11:52:17  2016-03-24 00:00:00  2016-04-07 03:16:57
1  2016-03-24 10:58:45  2016-03-24 00:00:00  2016-04-07 01:46:50
2  2016-03-14 12:52:21  2016-03-14 00:00:00  2016-04-05 12:47:46
3  2016-03-17 16:54:04  2016-03-17 00:00:00  2016-03-17 17:40:17
4  2016-03-31 17:25:20  2016-03-31 00:00:00  2016-04-06 10:17:21

In [54]:
#autos["date_crawled"]
       # .str[:10]
       # .value_counts(normalize=True, dropna=False)
       # .sort_index()
       # )

In [55]:
#(autos["last_seen"]
        #.str[:10]
        #.value_counts(normalize=True, dropna=False)
        #.sort_index()
        #)

In [56]:
#print(autos["ad_created"].str[:10].unique().shape)
#(autos["ad_created"]
        #.str[:10]
        #.value_counts(normalize=True, dropna=False)
        #.sort_index()
        #)

In [57]:
(~autos["registration_year"].between(1900,2016)).sum() / autos.shape[0]

0.038751091824143526

In [58]:
autos["brand"].value_counts(normalize=True)

volkswagen        0.213557
bmw               0.108570
opel              0.107394
mercedes_benz     0.095981
audi              0.088685
ford              0.068892
renault           0.048331
peugeot           0.029975
fiat              0.025963
seat              0.018947
skoda             0.015462
mazda             0.015373
smart             0.014347
citroen           0.014036
nissan            0.013595
toyota            0.012822
hyundai           0.009960
sonstige_autos    0.009511
mini              0.009309
volvo             0.008979
mitsubishi        0.008224
honda             0.007581
kia               0.006924
suzuki            0.006314
alfa_romeo        0.006278
porsche           0.006025
chevrolet         0.004975
chrysler          0.003829
dacia             0.002468
jeep              0.002182
daihatsu          0.002149
land_rover        0.002105
subaru            0.002085
jaguar            0.001686
daewoo            0.001478
saab              0.001439
trabant           0.001384
lancia            0.001303
rover             0.001292
lada              0.000591
Name: brand, dtype: float64

In [59]:
brand_counts = autos["brand"].value_counts(normalize=True)
common_brands = brand_counts[brand_counts > .05].index
print(common_brands)

Index(['volkswagen', 'bmw', 'opel', 'mercedes_benz', 'audi', 'ford'], dtype='object')

In [60]:
brand_mean_prices = {}

for brand in common_brands:
    brand_only = autos[autos["brand"] == brand]
    mean_price = brand_only["price"].mean()
    brand_mean_prices[brand] = int(mean_price)

brand_mean_prices

{'audi': 8963,
 'bmw': 8361,
 'ford': 3660,
 'mercedes_benz': 8462,
 'opel': 2941,
 'volkswagen': 5322}

In [61]:
bmp_series = pd.Series(brand_mean_prices)
pd.DataFrame(bmp_series, columns=["mean_price"])

               mean_price
volkswagen           5322
bmw                  8361
opel                 2941
mercedes_benz        8462
audi                 8963
ford                 3660

In [64]:
brand_mean_mileage = {}

for brand in common_brands:
    brand_only = autos[autos["brand"] == brand]
    mean_mileage = brand_only["odometer_km"].mean()
    brand_mean_mileage[brand] = int(mean_mileage)

mean_mileage = pd.Series(brand_mean_mileage).sort_values(ascending=False)
mean_prices = pd.Series(brand_mean_prices).sort_values(ascending=False)

In [66]:
brand_info = pd.DataFrame(mean_mileage,columns=['mean_mileage'])
brand_info

               mean_mileage
bmw                  132920
mercedes_benz        130670
audi                 129687
opel                 128873
volkswagen           128614
ford                 123896

In [67]:
brand_info["mean_price"] = mean_prices
brand_info

               mean_mileage  mean_price
bmw                  132920        8361
mercedes_benz        130670        8462
audi                 129687        8963
opel                 128873        2941
volkswagen           128614        5322
ford                 123896        3660